<!-- Sidebar and Hamburger Menu -->
    <div class="menu-overlay" id="menuOverlay"></div>
    <div class="sidebar" id="sidebar">
        <button class="close-btn"  id="closeBtn">&times;</button>
        <ul>
            <li><a routerLink="/schedule-pickup" (click)="closeSidebar()"><b>Schedule Waste PickUp</b></a></li>
            <li><a routerLink="/view-pickup-history" (click)="closeSidebar()"><b>View Waste Pick Up</b></a></li>
            <li><a routerLink="/report-issue" (click)="closeSidebar()"><b>Report Issues</b></a></li>
            <li><a routerLink="/notification" (click)="closeSidebar()"><b>Manage Notifications</b></a></li>
            <li><a routerLink="/generate-report" (click)="closeSidebar()"><b>Generate Report</b></a></li>
            

        </ul>
    </div>

   <!-- Header -->
   <div class="header">
    <div class="header-container">
        <!-- Hamburger Icon -->
        <div class="hamburger" id="hamburger">
            &#9776;
        </div>

        <!-- Logo in the center -->
        <div class="logo">
            <a routerLink="/home">
            <img src="https://i.ibb.co/vZw0zzL/Green-Era-Logo.png" alt="GreenEra Logo" />
        </a>
        </div>

        <!-- User Profile on the right -->
        <div class="user-profile">
            <div class="dropdown">
                <button class="profile-button" (click)="toggleDropdown()">
                    <img src="assets\images\Not_Normal_191-ezgif.com-webp-to-png-converter.png" 
                         alt="User Profile" 
                         class="profile-icon" />
                    <span class="profile-name">{{ fullName ? fullName : 'Guest' }}</span>
                </button>
                <div class="dropdown-menu" *ngIf="isDropdownOpen">
                    <ng-container *ngIf="isLoggedIn">
                        <a (click)="logout()">Logout</a>
                    </ng-container>
                    <ng-container *ngIf="!isLoggedIn">
                        <a routerLink="/login" (click)="toggleDropdown()">Login</a>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content based on Router Outlet -->
<main>
<router-outlet></router-outlet>
</main>
